body{
    background-color: rgb(166, 185, 236);
    text-align: center;
}

.titulo{
    color: aliceblue;
    text-shadow: 1px 1px black;    
}

.tabela{
    margin: 0 auto;
    border-collapse: 0;
    margin-bottom: 50px;
}

th,td{
    border: 2px solid black;
    padding: 15px;
}

.img{
    width: 80px;
    height: 100px;
}

.header{
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}

.links{   
    display: inline;
    margin-left: 55%;
}

.links a{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 3px;
}

.links a:hover{
    color: #e605d3;
    border-top: 2px solid #e605d3;
    border-bottom: 2px solid #e605d3;
}

.span-1, .span-2{
    font-weight: bold;
    font-size: x-large;
}

.span-1{
    color: #850378;
}

.span-2{
    color: #850378;
}

footer{
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    width: 100%;
    margin: auto 0 0 0;
    padding: sticky;
    bottom: 0;
    z-index: 1;
}